.hiddenModal {
    display: none;
}

.modalComponent {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
}

.modalBackDrop {
    z-index: 2;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.container {
    background-color: white;
    width: 500px;
    height: 400px;
    align-items: center;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #BE2537;
}

.photo {
    width: 15vh;
}

.cardContainer {
    display: flex;
    align-items: center;
    border: 1px solid #BE2537;
    justify-content: space-around;
    width: 100%;
}

.btn {
    margin-top: 0px;
}
@media only screen and (min-device-width : 768px) {
    .container {
    
        width: 600px;
        height: 500px;
    }
}
