:host ::ng-deep .p-button {
   background-color: white;
   color: #BE2537;
   border-color: #BE2537;
   width: 30px;
   height: 30px;
}

:host ::ng-deep .p-button:hover {
    background-color:#BE2537;
    color:white;
    border-color: white;
 }
 

:host ::ng-deep .p-menuitem-text {
    color: #BE2537 !important;  
}

:host ::ng-deep .p-menuitem-link:hover {
    background-color: #DCDCDC !important; 
}
:host ::ng-deep .p-menuitem-link {
    height: 50px;
}

:host ::ng-deep .p-slidemenu-content {
    height: 400px !important;
 } 


:host ::ng-deep .p-menuitem {
    width: 250px !important;
 } 
 
 :host ::ng-deep .p-slidemenu-overlay {
    width: 250px !important;
 } 


@media screen and (min-width: 768px) {
    
    :host ::ng-deep .p-button {
        width: 40px;
        height: 40px;
     }
     
}

@media screen and (min-width: 1280px) {

    :host ::ng-deep .p-button {
        width: 50px;
        height: 50px;
     }

     :host ::ng-deep .p-slidemenu-content {
        height: 450px !important;
     } 

     :host ::ng-deep .p-menuitem {
        width: 300px !important;
     } 
     
     :host ::ng-deep .p-slidemenu-overlay {
        width: 300px !important;
     } 


}
