<div class="fond">
  <h2 class="text-center rouge">Inscription</h2>
  <div class="milieu">
    <div class="d-flex flex-column align-items-center justify-content-center bandeau">
      <h3>Nouveau client ?</h3>
      <p>Inscrivez-vous !</p>
    </div>
  </div>
  <div class="grid-container">
    <div class="info-perso">
      <h6 class="rouge text-center mt-3">Informations personnelle</h6>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="nom-prenom form-group">
        <div class="nom">
          <label class="rouge">Nom</label>
          <input type="text" class="form-control" id="nom" formControlName="nom">
        </div>
        <div class="prenom">
          <label class="rouge">Prénom</label>
          <input type="text" class="form-control" id="prenom" formControlName="prenom">
        </div>
      </div>
      <div class="mail-tel form-group">
        <div class="email">
          <label class="rouge" for="email">Adresse mail</label>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="tel">
          <label class="rouge">Téléphone</label>
          <input type="text" class="form-control" id="telephone" formControlName="telephone">
        </div>
      </div>
      <div class="mdp-mdpconfirm form-group">
        <div class="mot-de-passe">
          <label class="rouge" for="password">Mot de passe</label>
          <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <div class="mot-de-passe-confirm">
          <label class="rouge">Confirmation du MdP</label>
          <input type="password" class="form-control">
        </div>
      </div>
      <div class="info-factu form-group">
        <h6 class="rouge text-center mt-3">Informations facturation</h6>
      </div>
      <div class="adresse form-group">
        <label class="rouge">Adresse</label>
        <input type="text" class="form-control" id="adresse" formControlName="adresse">
      </div>
      <div class="zip-ville form-group">
        <div class="zip">
          <label class="rouge">Code postal</label>
          <input type="text" class="form-control" id="codePostal" formControlName="codePostal">
        </div>
        <div class="ville">
          <label class="rouge">Ville</label>
          <input type="text" class="form-control" id="ville" formControlName="ville">
        </div>
      </div>
      <div class="d-flex justify-content-end bouton form-group">
        <button class="btn btn-primary mt-3" type="submit" [disabled]="signupForm.invalid">Créer mon compte</button><!--bouton desactivé tant que le regex des infos n'est pas bon-->
      </div>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>